*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.container{
    margin: 0 20px;
    max-width: 1200px;
    overflow: hidden;
}

.container h1{
    text-align: center;
}

.gallery{
    margin: 2px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card{
    width: 32%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }

.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}

.card:hover img{
    filter: none;
}

.card:hover figcaption{
    opacity: 1;
}